.container{
    width: 950px;
    height: 600px;
    background-color: silver;
    margin: 10px auto;
    padding: 10px;
    
}

.top-nav {
    height: 15%;
    background-color: green;
    padding: 15px;
    margin: 5px;
}


.side-nav {
    float:left;
    height: 350px;
    width: 200px;
    background-color: blue;
    padding: 5px;
    margin: 5px;

}

.main {
    float: right;
    vertical-align: top;
    height: 450px;
    width: 700px;
    background-color: red;
    padding: 5px;
    padding-right: 15px;
    margin: 5px;

}

.sub-content {
    display: inline-block;
    vertical-align: top;
    height: 200px;
    width: 200px;
    background-color: yellow;
    padding: 5px;
    margin: 10px;
}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    display: block;
    padding: 10px;
    margin: 5px;
    margin-top: 40px;
    
}
